<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="privacy.app.com.installs">

    <application>
        <service
            android:name="utils.app.com.installs.sys.TimerService"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="utils.app.com.installs.sys.MyFileProvider"
            android:authorities="${applicationId}.my_provider.sdk"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
