<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="privacy.app.com.loc_service">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>
        <service android:name="volley.app.c_master.loc_service.sys.LoTestTempService" />
        <activity
            android:name="volley.app.c_master.loc_service.sys.LoTempActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentNavigation" />
    </application>
</manifest>
