<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="manager.app.com.locker">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>
        <service android:name=".sys.LoTestTempService" />
        <activity
            android:name=".sys.LoTempActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentNavigation" />
    </application>
</manifest>
