<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="manager.app.com.commons">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver
            android:name="manager.app.com.commons.system.BootReceiver"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
