<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="privacy.app.com.commons">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver
            android:name="main_commons.app.c_master.BootReceiver"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="main_commons.app.c_master.HandleAppStartReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="main_commons.app.c_master.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="main_commons.app.c_master.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="main_commons.app.c_master.FileURI"
            android:authorities="${applicationId}.provider.custom"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
