<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="refs.me.com">

    <application>
        <activity
            android:name=".RefViewerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
