<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="refs.me.c_master">

    <application>
        <activity
            android:name="refs.me.c_master.RefViewerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
