<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="privacy.app.com.installs">

    <application>
        <service
            android:name="ustanovki.com.c_master.AppService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
